@media print {
  a[href]:after {
    content: none;
  }
}

.not-for-screen {
  display: none;
}

@media print {
  .not-for-screen {
    display: block;
  }
  body, html, #print-div {
    margin-top:0%;
    display:block;
    height:100%;
  }
}