<table ng-class="{'custom-form-completed': displayCustomForm,'default-form-completed': !displayCustomForm}">
    <tr>
    <th colspan="2">{{'completed_event'| translate}}</th>
    </tr>
    <tr>
        <td>
            {{'is_event_complete'| translate}}
        </td>
        <td>
            <span>
                <input class="input-with-audit" type="checkbox" ng-model="currentEvent['status']">
                <d2-audit dataelement-id="{{prStDes.' + fieldId + '.dataElement.id}}"
                          dataelement-name="{{prStDes[prStDes.' + fieldId + '.dataElement.id].dataElement.name}}">
                </d2-audit>
            </span>
        </td>
    </tr>
</table>


